# 仮想環境
.venv

# ログ
*.log

# データ
*.csv
*.json
*.pkl
*.pt
*.pth
*.pt.tar
*.pth.tar

# 環境変数
.env

# キャッシュ
__pycache__/

# Pythonパッケージメタデータ（pip install -e .で自動生成）
*.egg-info/

# 動画
*.mp4

# LangGraph API
.langgraph_api/

# モデル
*.zip